<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
	    <add key="stripePublishableKey" value="pk_test_51I6zQsDdbDGuyop2dg1bbh6HbLHkmlxzMBzmTSfd15aNYxNjjADXjcIN7Dh294SHUD5J80sTC0vjaTYvJFfrlJ3100p9FOc5K3"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>