@model CandyShop.Models.Manager

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<p>
    <ul>
        <li><a href="managers/createproduct">Add New Product To Inventory</a></li>
        <li><a href="managers/editproduct">Adjust Existing Product</a></li>
        <li><a href="managers/deleteproduct">Remove Item from Inventory</a></li>
        <li><a href="managers/edit">Adjust Employee Time Punch</a></li>
    </ul>

</p>
