@model CandyShop.Models.Transaction

@{
    ViewData["Title"] = "CashPurchase";
}

<h1>Success!</h1>

<h8>Transaction# @Model.transactionId</h8>

<p>Total items: @Model.products.Count</p>
<p>Total cost: $@Model.totalCost</p>
<p>Tender:</p>
<input type="text" id="cashInputBox">
<button onclick="cashInput()">Submit</button>
<script>
var balance=@Model.totalCost;
function cashInput() {
    var input = document.getElementById("cashInputBox").value;
    var newTotal = parseInt(input) - balance;
    alert("The amount tendered is: $" + input + " " + "The change is: $" + newTotal);
}
</script>

<p>Today you were helped by @Model.employee.name on @DateTime.Now.Date</p>

<a asp-action="Index">Back to List</a>
