@model CandyShop.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Review Cart</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            }
        </tbody>
</table>




        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
