@model CandyShop.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<p>
    <span>@DateTime.Now</span>
    <span><button type="submit" asp-action="TimePunch" asp-action-id="Model.userId">Clock In/Out?</button></span>
</p>
