@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CandyShop</h1>
    </div>
<div style="align-items:center">
    <ul>
        <li><a href="employees/index"><h3>Point of Sale</h3></a></li>
        <li><a href="managers/index"><h3>Inventory and Time Management Tools</h3></a></li>
        <li><a href="admins/index"><h3>Sales Graphs</h3></a></li>
        <li><a href="/Identity/Account/Register"><h3>Register New User</h3></a></li>
    </ul>
</div>



