@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </div>
<ul>
    <li><a href="admins/index">Admin Home</a></li>
    <li><a href="managers/index">Manager Home</a></li>
    <li><a href="employees/index">Employee Home</a></li>
</ul>



